.fishheader{max-width: 950px; margin:auto; background-color: rgb(136, 179, 136);}
.fishside{background-color: rgb(64, 170, 172); padding-right: 150px;margin-right: 19.920; display:flex;}
.wrapper{max-width: 950px; margin: auto; display: flex; flex-direction: row;}
.fishmain{background-color: rgb(166, 254, 166);}
.fishfooter{background-color: rgb(116, 155, 116); max-width: 950px; margin:auto;}
